Введение в подготовку данных для аналитиков. Таблицы фактов и таблицы измерений
1. Скачайте датасет fifаs2.сsv. Проанализируйте его и определите, какие данные являются неполными. Удалите
ненужные колонки и недостающие значения.

2. Найдите в датафрейме полные дубликаты и удалите их. Значения могут быть одинаковыми, но написаны по-разному. Например, может отличаться размер регистра (заглавные и строчные буквы). Особое внимание уделить колонке с названиями команд.

3. Напишите функцию, которая добавит колонку с разбиением возраста по группам: до 20, от 20 до 30, от 30 до
36 и старше 36. Посчитайте количество футболистов в каждой категории.

In [2]:
import pandas as pd
data = pd.read_csv('fifa_s2.csv')

In [3]:
data.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

In [5]:
data.isna().sum()

ID                            0
Name                          0
Age                           0
Nationality                   7
Overall                       0
Potential                     0
Club                        241
Value                       257
Wage                          0
Preferred Foot                0
International Reputation     10
Skill Moves                   6
Position                     21
Joined                        0
Contract Valid Until        273
Height                        0
Weight                        0
Release Clause                3
dtype: int64

Неполными являются колонки Club, Value, International Reputation, Skill Moves, Position, Contract Valid Until, Release Clause. 
Не совсем ясно какие колонки являются ненужными. Если бы я решила удалить колонку Club, я бы воспользовалась функцией: data1 = data.drop('Club', axis=1) 
Удалите ненужные колонки и недостающие значения:

In [6]:
data_cleaned = data.dropna()
data_cleaned.shape

(2075, 18)

In [7]:
data_cleaned.isna().sum()

ID                          0
Name                        0
Age                         0
Nationality                 0
Overall                     0
Potential                   0
Club                        0
Value                       0
Wage                        0
Preferred Foot              0
International Reputation    0
Skill Moves                 0
Position                    0
Joined                      0
Contract Valid Until        0
Height                      0
Weight                      0
Release Clause              0
dtype: int64

2. Найдите в датафрейме полные дубликаты и удалите их.

In [9]:
data_cleaned_lower = data.apply(lambda x: x.astype(str).str.lower())
duplicates = data_cleaned_lower.duplicated(keep=False)
data_noduplicates = data_cleaned[~duplicates]
data_noduplicates.shape

C:\Users\Sasha\AppData\Local\Temp\ipykernel_18260\924638410.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data_noduplicates = data_cleaned[~duplicates]

(2071, 18)

Напишите функцию, которая добавит колонку с разбиением возраста по группам: до 20, от 20 до 30, от 30 до
36 и старше 36. Посчитайте количество футболистов в каждой категории.

In [10]:
def categorize_age(Age):
    if Age < 20:
        return 'до 20'
    elif Age >= 20 and Age < 30:
        return 'от 20 до 30'
    elif Age >= 30 and Age < 36:
        return 'от 30 до 36'
    else:
        return 'старше 36'

data_noduplicates['Age Category'] = data_noduplicates['Age'].apply(categorize_age)
data_noduplicates.head()

C:\Users\Sasha\AppData\Local\Temp\ipykernel_18260\3973629523.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_noduplicates['Age Category'] = data_noduplicates['Age'].apply(categorize_age)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Age Category
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.0,старше 36
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.0,от 30 до 36
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.0,от 30 до 36
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.0,от 30 до 36
5,20209,Ricardo Costa,37,Portugal,74,74,CD Tondela,750.0,4,Right,2.0,2.0,LCB,2017,01/01/2019,6.000000,181.0,1600.0,старше 36

In [16]:
data_noduplicates['Age Category'].value_counts()[0]

C:\Users\Sasha\AppData\Local\Temp\ipykernel_18260\1839798556.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sum_of_players_younger_20 = data_noduplicates['Age Category'].value_counts()[0]

In [18]:
player_count = data_noduplicates.groupby('Age Category').size().reset_index(name='Player Count')

print(player_count)

  Age Category  Player Count
0        до 20           262
1  от 20 до 30          1415
2  от 30 до 36           377
3    старше 36            17